table {
  height: 450px;
  width: 450px;
  background: #3eb4c6;
}
td {
  border: inset;
}

.missed {
  background-color: red;
}

.ship {
  background-color: #777;
}

.hit {
  background-color: gray;
}
